* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 50px 20px; 
    background-color: #f0f0f0;
  }
  


  .imagem1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5pz purple;
    text-align: center;
}

  nav {
    background-color: #ccacdf;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    justify-content: center;

}

li {
    margin: 0 15px;
    padding-right: 15px; 
    border-right: 1px solid #ccc;
}

li:last-child {
    border-right: none; /* Remove the border from the last item */
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px; /* Set font size */
    padding: 10px 15px; /* Padding around the link */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    border-radius: 5px;

}

a:hover {
    background-color: #87629c; /* Change background on hover (tomato color) */
    color: black; /* Keep the text white on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

a.active {
    background-color: #a66bc9; /* Green background for active link */
    color: black;
    border-radius: 5px;
}

.center {
  text-align: center;
}


main {
    margin-top: 20px;
}

  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }